@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 244, 246);
}

.app {
  min-height: 78vh;
  padding: 15px;
}

.high {
  color: #ff7860;
}

.medium {
  color: #ffaa0d;
}

.low {
  color: #ffe344;
}

.open {
  background-color: #fff;
}

.assigned {
  background-color: #c8eeff;
}

.resolved {
  background-color: #b9ffb4;
}